body{
    background-color: #ccc8c8;
    
    
}
*{
    margin: 0;
    padding: 0;
}

/* navbar css */

.container-fluid{
    padding: 0;
    
    background-color: rgb(15, 145, 138);
    
}

.img{
    width: 25px;
    
} 


.navbar {
    background-color: rgb(15, 145, 138);
    width: 70%;
    margin: auto;
}
.a{
    color: white;
    font-size: 25px;
}
.btn{
    background-color: rgb(11, 93, 160);
    color: white;
    font-size: 15px;
    padding: 4px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*  container */

.container {
   
    width:70%;
    margin:auto;
    padding: 0;

    
}


/* search bar  */
.search-bar{
    margin-bottom: 15px;
    background-color: rgb(13, 71, 75);
}
.search{
    margin: 40px;
}

.form-control{
    width: 70%;
    font-style: italic;
}



.edit{
    margin-left: 10px;
    margin-bottom: 5px;
} 
.col-sm-12{
    padding: 0;
}
.row{
   margin: 0;
}
.btn1{
    background-color: rgb(214, 149, 9);
    padding: 3px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: white;
}
.para{
    background-color:  rgb(13, 71, 75);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

/* Jobs  */

.job-post{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img2{
    width: 100%;
    height: auto;
}
.row2{
    border: 2px solid rgb(184, 177, 177);
    border-radius: 3px;
    background-color: rgb(219, 215, 215);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.column{
    padding: 6px;
    height: auto;
} 

.parent-heading{
    margin-top: 4px;
    margin-bottom: 8px;
}
.child-heading{
    margin-top: 7px;
}
.child3-heading{
    margin-left: 25px;
}
h5{
    margin-bottom: 0;
    color: rgb(14, 118, 187);
}
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: cadetblue;
  }
  .pagination a:hover:not(.active) {background-color: #463737;}
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
.current{
    display: none;
}
a{
    color: #0f0f0f;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.model_view{
    border: none;
    background: none;
}
.modal.show .modal-dialog {
    margin-top: 200px;
    width: 25%;
}
.modal-content{
    background: rgb(52, 82, 82);
    color: white;


}


@media (max-width:1440px) {
    .btn2{
        font-size: 12px;
    }
    
}
@media (max-width:1328px) {
    .container{
        width:60%;
    }
    .navbar{
        width: 60%;
    }
    
}
@media (max-width:1328px) {
    .container{
        width:65%;
    }
    .navbar{
        width: 65%;
    }
    
}
@media (max-width:1018px) {
    .container{
        width:70%;
    }
    .navbar{
        width: 70%;
    }
    
}
@media (max-width:950px) {
    .container{
        width:75%;
    }
    .navbar{
        width: 75%;
    }
    
}
@media (max-width:887px) {
    .container{
        width:80%;
    }
    .navbar{
        width: 80%;
    }
    
}
@media (max-width:825px) {
    .container{
        width:85%;
    }
    .navbar{
        width: 85%;
    }
    
}
@media (max-width:777px) {
    .container{
        width:90%;
    }
    .navbar{
        width: 90%;
    }
    .search{
        margin: 30px;
    }
    
    .form-control{
        width: 60%;
    }
    .btn2{
        font-size: 10px;
    }
  
    
}
@media (max-width:600px) {
    .row2{
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .edit{
        margin-left: 50px;
    }
}