body{
    background-color: #ccc8c8;
    
}
/* *{
    margin: 0;
    padding: 0;
} */
.container-fluid{
    padding: 0;
    
    background-color: rgb(15, 145, 138);
    
}

.img{
    width: 30px;
    
} 


.navbar {
    background-color: rgb(15, 145, 138);
    width: 70%;
    margin: auto;
}

.a{
    color: white;
    font-size: 40px;
}
a{
    text-decoration: auto;
    color: inherit;
}
.allpost{
    float: right;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.float-right{
    float: right;
    margin-top: 14px;
}
header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
   
  } 
/*header {
    position: fixed;
     top: 0;
    left: 0;
    width: 100%;

    color: #fff; 
   
  } */
main {
    margin-top: 60px; /* add some margin to the top of the main content */
    width: 90%;
    margin-left: 5%;
    margin-bottom: 80px;  
}
 .footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(55, 57, 58);
    color: white;
    text-align: center;
  } 
